<div class="contenedor row mt-5">
  <div class="card bg-light mb-3">
    <div class="card-header text-center"><b>Add Product</b></div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="addProduct()">
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Enter name"
        />
        <span *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched ">
          <small>This field is required</small>
        </span>
        <input
          formControlName="description"
          type="text"
          class="form-control mt-3"
          placeholder="Enter description"
        />
        <span *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched ">
          <small>This field is required</small>
        </span>
        <input
          formControlName="price"
          type="number"
          class="form-control mt-3"
          placeholder="Enter price"
        />
        <span *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched ">
          <small>This field is required</small>
        </span>
        <input
          formControlName="stock"
          type="number"
          class="form-control mt-3"
          placeholder="Enter stock"
        />
        <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched ">
          <small>This field is required</small>
        </span>
        <div class="row text-center mt-3">
          <div class="col-lg-6">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Save</button>
          </div>
          <div class="col-lg-6">
            <button routerLink="/" type="button" class="btn btn-secondary">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
